<p>error-page works!</p>

<ul>
    <li>
        <p routerLink="/auth/login">Ir a login</p>
    </li>

    <li>
        <p routerLink="/auth/registro">Ir a registro</p>
    </li>

    <li>
        <p routerLink="/heroes/listado">Ir a Listado</p>
    </li>
    <li>
        <p routerLink="/heroes/agregar">Ir a Agregar</p>
    </li>
    <li>
        <p routerLink="/heroes/editar/:id">Ir a editar</p>
    </li>
    <li>
        <p routerLink="/heroes/buscar">Ir a id</p>
    </li>
    <li>
        <p routerLink="/heroes/:id">Ir a Listado</p>
    </li>
    
</ul>



