<div class="text-layout">
    <h1> Pipes no tan comunes</h1>
    <p> Pipes incluidos en Angular - Usualmente usados en el Common Module</p>
</div>

<div class="grid">

    <div class="col md-6 sm-9">
        <p-fieldset legend="i18nSelect Pipe"  [toggleable]="true">
            Saludos {{nombre}} es un placer 
            {{ genero | i18nSelect:invitacionMapa }} 
            a nuestro evento
        </p-fieldset>
    </div>

    <div class="col md-6 sm-9">
        <p-fieldset legend="i18nPlural Pipe"  [toggleable]="true">
            Actualmente {{ clientes.length | i18nPlural:clientesMapa }} 
        </p-fieldset>
    </div>

</div>